.obj-info {
    margin-top: 10px;
    width: 100%;
}
.obj-info div {
    width: 50%;
}
.obj-info div:nth-child(2) {
    width: 13px;
}
.client-frm-btn {
    margin-top: 20px;
    width: 100%;
}
.client-frm-btn div {
    width: 13px;
}
.client-frm-btn input {
    width: 50%;
}
.client-frm-btn a {
    width: 50%;
    font-size: 1.3rem;
}