body {
    height: 100vh;
}
.login-container {
    height: 420px;
    width: 320px;
    border-radius: 15px;
    background-color: rgb(229, 239, 240);
    box-shadow: 0px 0px 10px rgb(185, 185, 185);
    padding: 40px;
}
.login-logo {
    margin-bottom: 20px;
}
.login-logo img {
    height: 80px;
    border-radius: 100%;
    margin-bottom: 15px;
    filter: drop-shadow(0px 0px 5px rgb(194, 194, 194));
}
.login-data {
    width: 100%;
}
#login-user {
    background-image: url('/assets/icons/login-user.png');
}
#login-password {
    background-image: url('/assets/icons/login-password.png');
}
.user-data-error {
    height: 20px;
    width: 100%;
    margin-bottom: 3px;
    color: rgb(228, 54, 54);
    font-size: 1.1rem;
    text-align: right;
    padding-right: 5px;
}
.login-options {
    width: 100%;
    height: 30px;
    justify-content: right;
}
.login-options a {
    font-size: 1.1rem;
    color: gray;
    cursor: pointer;
}
.login-button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    border: 0;
    background-color: rgb(104, 104, 221);
    border-radius: 5px;
    color: white;
}
.login-button:hover {
    background-color: rgb(89, 89, 189);
}
.login-button:active {
    background-color: rgb(69, 69, 177)
}

@media (max-width: 450px) {
    .login-container {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        background-color: rgb(229, 239, 240);
        box-shadow: 0px 0px 10px rgb(185, 185, 185);
        padding: 40px;
    } 
}